<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd" >
<suite name=" TestNGLearning ">
	<test name=" Automation " > 
	<parameter name = "browser" value="chrome"/>
		<classes>
		<!-- <class name="aibReporting.App"/>  -->	
	    <!-- <class name="aibReporting.Homepage"/> -->		
	    	<class name="pages.Base"/>
		</classes>
	</test>
</suite>